<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:replace="/head.html::commonHead('编辑用户')"></script>
    <script th:src="@{/js/jsencrypt.min.js}"></script>
    <script th:src="@{/js/lweb-tool-format.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        function addUser() {
            layer.msg('请稍后', {
                icon: 16
                , shade: 0.01
            });
            let passwd = $(":password[name=passwd]").val();
            let passwd2 = $(":password[name=passwd2]").val();
            if (passwd !== passwd2) {
                layer.msg("两次密码不一致!!!", {icon: 5});
                return;
            }
            $.get("/api/user/rsa", function (result) {
                if (result.result) {
                    //加密
                    let encrypt = new JSEncrypt();
                    encrypt.setPublicKey(result.puk);
                    passwd = encrypt.encrypt(passwd);
                    let uname = $(":text[name=uname]").val();
                    $.post("/api/user/", {
                        uname: uname,
                        passwd: passwd,
                    }, function (data) {
                        if (data.result) {
                            layer.msg('添加成功', {icon: 6});
                            $("#addUserForm")[0].reset();
                        } else {
                            layer.msg(data.msg, {icon: 5});
                        }
                    }).fail(function (xhr, status, error) {
                        if (xhr.status === 401) {
                            layer.msg("你没有这个权限", {icon: 5});
                        }
                    });
                } else {
                    layer.msg('密码加密失败', {icon: 5});
                }
            }).fail(function () {
                layer.msg('请求RSA公钥失败', {icon: 5});
            });
        }

        function listUser() {
            $("#userList table").empty();
            let kw = $("#search_uname").val();
            $.get("/api/user/search", {
                kw: kw
            }, function (data) {
                if (data.result) {
                    $("#userList table").append("<tr><td>ID</td><td>用户名</td><td>角色</td><td>操作</td></tr>");
                    for (let i = 0; i < data.data.length; i++) {
                        let user = data.data[i];
                        let roleDesc = "";
                        for (let i = 0; i < user.roles.length; i++) {
                            let role = user.roles[i];
                            roleDesc += role.desc + " ";
                        }
                        $("#userList table").append("<tr><td>" + user.id + "</td><td>" + user.username + "</td><td>" + roleDesc + "</td><td><button onclick='setUserPasswd(" + user.id + ")'>设置密码</button><button onclick='delUser(" + user.id + ")'>删除</button></td></tr>");
                    }
                } else {
                    layer.msg("检索时粗错", {icon: 5});
                }
            }).fail(function (xhr, status, error) {
                if (xhr.status === 401) {
                    layer.msg("你没有这个权限", {icon: 5});
                }
            });
        }

        function setUserPasswd(uid) {
            layer.open({
                type: 2,
                title: "设置密码",
                area: ['320px', '250px'],
                content: "/static/user/setUserPasswd.html?uid=" + uid
            });
        }

        function delUser(uid) {
            parent.layer.confirm('确定删除用户?', {
                btn: ['确定', '取消'],
                icon: 3
            }, function () {
                $.get("/api/user/" + uid + "/del", function (data) {
                    if (data.result) {
                        parent.layer.confirm('删除成功', {
                            btn: ['确定'],
                            icon: 6
                        }, function () {
                            listUser();
                            parent.layer.closeAll();
                        });
                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                }).fail(function (xhr, status, error) {
                    if (xhr.status === 401) {
                        layer.msg("你没有这个权限", {icon: 5});
                    }
                });
            }, function () {
                parent.layer.closeAll();
            });
        }
    </script>
</head>
<body>
<div th:replace="/nav.html::commonNav('sys','edit_user')"></div>
<form th:id="addUserForm" onsubmit="return false">
    <h4>添加用户</h4>
    <label>用户名:<input type="text" name="uname"/></label><br/>
    <label>密码:<input type="password" name="passwd"/></label><br/>
    <label>确认密码:<input type="password" name="passwd2"/></label><br/>
    <button onclick="addUser()">添加</button>
</form>
<div id="search">
    <form onsubmit="return false">
        <h4>检索用户</h4>
        <label>关键字:<input type="text" id="search_uname"/></label>
        <button onclick="listUser()">检索</button>
    </form>
    <div id="userList">
        <table border="1"></table>
    </div>
</div>
</body>
</html>