<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:replace="/head.html::commonHead('物品类型')"></script>
    <script th:src="@{/js/lweb-json.js}"></script>
    <script th:src="@{/js/lweb-tool-format.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        let isEdit = false;
        let editItem = -1;
        $(document).ready(function () {
            loadData();
        });

        function loadData() {
            $("#keysBox").empty();
            $(":input[name=inIndex]").removeAttr("checked", "");
            $(":input[name=isExData]").removeAttr("checked", "");
            $("#itemTypeList").empty();
            $("#itemTypeList").append("<tr><td>ID</td><td>物品类型</td><td>优先级</td><td>是否在主页显示</td><td>额外数据</td><td>最后修改时间</td><td>操作</td></tr>");
            $.post("/api/itemType.json?action=getAll", function (data) {
                if (data.result) {
                    for (let i = 0; i < data.data.length; i++) {
                        const itemType = data.data[i];
                        let inIndex = itemType.inIndex;
                        if (inIndex === 1) {
                            inIndex = "显示";
                        } else {
                            inIndex = "不显示";
                        }
                        let exData = "";
                        for (let j = 0; j < itemType.exData.length; j++) {
                            exData += itemType.exData[j].desc + "<br>";
                        }
                        $("<tr><td>" + itemType.id + "</td><td>" + itemType.name + "</td><td>" + itemType.order + "</td><td>" + inIndex + "</td><td>" + exData + "</td><td>" + formatUnixTime(itemType.upDate) + "</td><td><button onclick='editItemType(" + itemType.id + ")'>编辑</button><button onclick='delItemType(" + itemType.id + ")'>删除</button></td></tr>").appendTo("#itemTypeList");
                    }
                } else {
                    layer.msg(data.msg, {icon: 5});
                }
            });
        }

        function editItemType(itemType) {
            isEdit = true;
            editItem = itemType;
            $.post("/api/itemType.json?action=getItemTypeById", {
                id: itemType
            }, function (data) {
                if (data.result) {
                    $("select[id^='exSel-']").parent().parent().remove();

                    $(":text[name=itemType]").val(data.data.name);
                    $(".itemTypeOrder").val(data.data.order);
                    if (data.data.inIndex === 1) {
                        $(":input[name=inIndex]").attr("checked", "");
                    } else {
                        $(":input[name=inIndex]").removeAttr("checked");
                    }
                    const exDatas = data.data.exData;
                    if (exDatas !== "") {
                        $("#isExData").find(":checkbox[name=isExData]").attr("checked", "true");
                        $("#exData").css("display", "block");
                        $("#keysBox").prepend(LwebJson.getExDataBox(exDatas, "mui-textfield"));
                    } else {
                        $("#isExData").find(":checkbox[name=isExData]").removeAttr("checked");
                        $("#exData").css("display", "none");
                    }
                } else {
                    layer.msg(data.msg, {icon: 5});
                }
            })
        }

        function delItemType(id) {
            if (confirm("确定删除？")) {
                $.post("/api/itemType.json?action=delItemType", {
                    id: id
                }, function (data) {
                    if (data.result) {
                        loadData();
                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                });
            }
        }

        function postItemType() {
            const itemType = $(":text[name=itemType]").val();
            let order = $(".itemTypeOrder").val();
            let exData = LwebJson.getExStruct("#keysBox", ".mui-textfield");
            if (!$("#isExData").find(":checkbox[name=isExData]").is(':checked')) {
                exData = "";
            }
            let action = "addItemType";
            if (isEdit) {
                action = "updateItemType&id=" + editItem;
                layer.confirm("请耐心等待", {icon: 6});
            }
            if (itemType.length > 0) {
                $.post("/api/itemType.json?action=" + action, {
                    name: itemType,
                    order: order,
                    inIndex: $(":checkbox[name=inIndex]").is(':checked'),
                    exData: JSON.stringify(exData)
                }, function (data) {
                    if (data.result) {
                        loadData();
                        $("#itemTypeForm")[0].reset();
                        layer.msg(data.msg, {icon: 1});
                    } else {
                        layer.msg(data.msg, {icon: 1});
                    }
                }).fail(function () {
                    layer.msg("更新时出错", {icon: 5});
                });
            } else {
                alert("请认真填写");
            }
            return false;
        }

        function isExDataChange() {
            if ($("#isExData").find(":checkbox[name=isExData]").is(':checked')) {
                $("#exData").css("display", "block");
            } else {
                $("#exData").css("display", "none");
            }
        }

        function delKey(event) {
            let keyName = $(event).parent().find(".keyName").val();
            parent.layer.confirm('确定删除属性' + keyName + '?', {
                btn: ['确定', '取消'],
                icon: 3
            }, function () {
                $(event).parent().remove();
                layer.msg("删除完成", {icon: 6});
            }, function () {
                parent.layer.closeAll();
            });
        }
    </script>
    <style>
        #keysBox .exData {
            display: initial;
        }

        #keysBox .keyOrder {
            width: 40px;
        }

        #keysBox .keyName {
            width: 60px;
        }

        #keysBox .keyDesc {
            width: 80px;
        }

        #keysBox .exOptionText {
            width: 85px;
        }
    </style>
</head>
<body>
<div th:replace="/nav.html::commonNav('sys','item_type')"></div>
<div>
    <form th:id="itemTypeForm" action="/api/itemType.json?action=addItemType" method="post" onsubmit="return false">
        <label>物品类型:<input th:type="text" th:name="itemType" placeholder="CPU...硬盘...显示器"/></label><label>优先级:<input
            th:class="itemTypeOrder" th:type="number" th:name="order"/></label><br/>
        <label>在主页显示:<input th:type="checkbox" th:name="inIndex"/></label>
        <div id="isExData">
            <label>附加数据<input th:name="isExData" th:type="checkbox" onchange="isExDataChange()"/></label>
        </div>
        <div id="exData" style="display: none">
            <div id="keysBox">
            </div>
            <button id="btn_addKey" onclick="LwebJson.addExStruct('#keysBox','mui-textfield')">添加字段</button>
            <br>
        </div>
        <button onclick="postItemType()">保存</button>
    </form>
    <table id="itemTypeList" border="1">
    </table>
</div>
</body>
</html>