<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:replace="/head.html::commonHead('物品类型')"></script>
    <script th:src="@{/js/lweb-json.js}"></script>
    <script th:src="@{/js/lweb-tool-format.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        let isEdit = false;
        let editItem = -1;
        $(document).ready(function () {
            loadData();
        });

        function loadData() {
            $("#itemTypeList").empty();
            $("#itemTypeList").append("<tr><td>ID</td><td>物品类型</td><td>添加时间</td><td>是否在主页显示</td><td>额外数据</td><td>操作</td></tr>");
            $.post("/api/itemType.json?action=getAll", function (data) {
                if (data.result) {
                    for (let i = 0; i < data.data.length; i++) {
                        const itemType = data.data[i];
                        let inIndex = itemType.inIndex;
                        if (inIndex === 1) {
                            inIndex = "显示";
                        } else {
                            inIndex = "不显示";
                        }
                        let exData = "";
                        for (let j = 0; j < itemType.exData.length; j++) {
                            exData += itemType.exData[j].desc + "<br>";
                        }
                        $("<tr><td>" + itemType.id + "</td><td>" + itemType.name + "</td><td>" + formatUnixTime(itemType.insDate) + "</td><td>" + inIndex + "</td><td>" + exData + "</td><td><button onclick='editItemType(" + itemType.id + ")'>编辑</button><button onclick='delItemType(" + itemType.id + ")'>删除</button></td></tr>").appendTo("#itemTypeList");
                    }
                } else {
                    alert(data.msg);
                }
            });
        }

        function editItemType(itemType) {
            isEdit = true;
            editItem = itemType;
            $.post("/api/itemType.json?action=getItemTypeById", {
                id: itemType
            }, function (data) {
                if (data.result) {
                    $("select[id^='exSel-']").parent().parent().remove();

                    $(":text[name=itemType]").val(data.data.name);
                    if (data.data.inIndex === 1) {
                        $(":input[name=inIndex]").attr("checked", "");
                    } else {
                        $(":input[name=inIndex]").removeAttr("checked");
                    }
                    const exDatas = data.data.exData;
                    if (exDatas !== "") {
                        $("#isExData").find(":checkbox[name=isExData]").attr("checked", "true");
                        $("#exData").css("display", "block");
                        $("#keysBox").prepend(LwebJson.getExDataBox(exDatas, "mui-textfield"));
                    } else {
                        $("#isExData").find(":checkbox[name=isExData]").removeAttr("checked");
                        $("#exData").css("display", "none");
                    }
                } else {
                    alert(data.msg);
                }
            })
        }

        function delItemType(id) {
            if (confirm("确定删除？")) {
                $.post("/api/itemType.json?action=delItemType", {
                    id: id
                }, function (data) {
                    if (data.result) {
                        loadData();
                    } else {
                        alert(data.msg);
                    }
                });
            }
        }

        function postItemType() {
            const itemType = $(":text[name=itemType]").val();
            let exData = LwebJson.getExStruct("#keysBox", ".mui-textfield");
            if (!$("#isExData").find(":checkbox[name=isExData]").is(':checked')) {
                exData = "";
            }
            let action = "addItemType";
            if (isEdit) {
                action = "updateItemType&id=" + editItem;
                alert("请耐心等待");
            }
            if (itemType.length > 0) {
                $.post("/api/itemType.json?action=" + action, {
                    name: itemType,
                    inIndex: $(":checkbox[name=inIndex]").is(':checked'),
                    exData: JSON.stringify(exData)
                }, function (data) {
                    if (data.result) {
                        loadData();
                        alert(data.msg);
                    } else {
                        alert(data.msg);
                    }
                }).fail(function () {
                    layer.msg("更新时出错", {icon: 5});
                });
            } else {
                alert("请认真填写");
            }
            return false;
        }

        function isExDataChange() {
            if ($("#isExData").find(":checkbox[name=isExData]").is(':checked')) {
                $("#exData").css("display", "block");
            } else {
                $("#exData").css("display", "none");
            }
        }

        function addKey() {
            $("#keysBox").append("<div class='mui-textfield'>" +
                "<label>属性:<input type='text' class='keyName' name='key' required='required'" +
                " placeholder='无法修改,英文, 不要重复'></label>" +
                "<label> 类型:<select class='keyType'  onchange='LwebJson.typeChange(this)'>" +
                "<option value='text'>字符串</option>" +
                "<option value='number'>数值</option>" +
                "<option value='checkbox' selected>布尔值</option>" +
                "<option value='option'>选项</option>" +
                "</select></label>" +
                "<label> 说明:<input type='text' class='keyDesc' name='value' required='required' placeholder='字段描述'></label>" +
                "<div class='exData'></div>" +
                "<label>必须:<input type='checkbox' class='keyMust' /></label>" +
                " <button onclick='delKey(this)'>删除</button>" +
                "</div>");
        }

        function delKey(event) {
            let keyName = $(event).parent().find(".keyName").val();
            $(event).parent().remove();
            parent.layer.confirm('确定删除属性' + keyName + '?', {
                btn: ['确定', '取消'],
                icon: 3
            }, function () {
                if (isEdit) {
                    const itemType = $(":text[name=itemType]").val();
                    let exData = LwebJson.getExStruct("#keysBox", ".mui-textfield");
                    $.post("/api/itemType.json?action=delItemTypeKey", {
                        id: editItem,
                        key: keyName,
                        exData: JSON.stringify(exData)
                    }, function (data) {
                        layer.msg("删除完成", {icon: 6});
                    }).fail(function () {
                        layer.msg("删除属性时出错", {icon: 5});
                    });
                } else {
                    layer.msg("删除完成", {icon: 6});
                }
            }, function () {
                parent.layer.closeAll();
            });
        }
    </script>
    <style>
        #keysBox .exData {
            display: initial;
        }
    </style>
</head>
<body>
<div th:replace="/nav.html::commonNav('sys','item_type')"></div>
<div>
    <form action="/api/itemType.json?action=addItemType" method="post" onsubmit="return false">
        <label>物品类型:<input type="text" name="itemType" placeholder="CPU...硬盘...显示器"/></label><br/>
        <label>在主页显示:<input type="checkbox" name="inIndex"/></label>
        <div id="isExData">
            <label>附加数据<input name="isExData" type="checkbox" onchange="isExDataChange()"/></label>
        </div>
        <div id="exData" style="display: none">
            <div id="keysBox">
                <div class="mui-textfield">
                    <label>属性:<input type="text" class="keyName" name="key" placeholder="无法修改,英文, 不要重复"/></label>
                    <label>类型:<select class="keyType" onchange='LwebJson.typeChange(this)'>
                        <option value="text">字符串</option>
                        <option value="number">数值</option>
                        <option value="checkbox" selected>布尔值</option>
                        <option value='option'>选项</option>
                    </select></label>
                    <label>说明:<input type="text" class="keyDesc" name="value" placeholder="字段描述"></label>
                    <div class='exData'></div>
                    <label>必须:<input type='checkbox' class='keyMust'/></label>
                    <button onclick="delKey(this)">删除</button>
                </div>
            </div>
            <button id="btn_addKey" type="button" onclick="addKey()">添加字段</button>
            <br>
        </div>
        <button onclick="postItemType()">保存</button>
    </form>
    <table id="itemTypeList" border="1">
    </table>
</div>
</body>
</html>