<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:replace="/head.html::commonHead('厂商')"></script>
    <script th:src="@{/js/lweb-tool-format.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            loadData();
        });

        function loadData() {
            $("#itemTypeList").empty();
            $("#itemTypeList").append("<option selected='selected' disabled='disabled' value='selected'></option>");

            $("#manuInfo").empty();

            $("#manuTypeList").empty();
            $("#manuTypeList").append("<tr><td>厂商</td><td>优先级</td></tr>");
            $.get("/api/manu/", function (data) {
                if (data.result) {
                    for (let i = 0; i < data.data.length; i++) {
                        const manu = data.data[i];
                        $("<tr><td><a class='link' onclick='loadManuInfo(\"" + manu.name + "\")'>" + manu.name + "</a></td><td class='link' onclick='editManuOrder(\"" + manu.name + "\")'>" + manu.order + "</td></tr>").appendTo("#manuTypeList");
                    }
                } else {
                    layer.msg(data.msg, {icon: 5});
                }
            });

            $.get("/api/itype/", function (data) {
                if (data.result) {
                    for (let i = 0; i < data.data.length; i++) {
                        const itemType = data.data[i];
                        $("#itemTypeList").append("<option value='" + itemType.id + "'>" + itemType.name + "</option>");
                    }
                } else {
                    layer.msg(data.msg, {icon: 5});
                }
            });
        }

        function loadManuInfo(name) {
            $.get("/api/manu/" + name + "/info", function (data) {
                if (data.result) {
                    $("#manuInfo").empty();
                    $("#manuInfo").append("<caption>" + name + "</caption>");
                    $("#manuInfo").append("<tr><td>ID</td><td>类型</td><td>添加时间</td><td>操作</td></tr>");
                    for (let i = 0; i < data.data.length; i++) {
                        const manu = data.data[i];
                        $("#manuInfo").append("<tr><td>" + manu.id + "</td><td>" + manu.itemType + "</td><td>" + formatUnixTime(manu.insDate) + "</td><td><button onclick='delManuType(" + manu.id + ")'>删除</button></td></tr>");
                    }
                } else {
                    layer.msg(data.msg, {icon: 5});
                }
            });
        }

        function editManuOrder(manu) {
            layer.open({
                type: 2,
                title: "设置厂商优先级",
                area: ['320px', '250px'],
                content: "/static/order/change_manu_order.html?name=" + manu
            });
        }

        function delManuType(id) {
            layer.confirm('确定删除?', {
                btn: ['确定', '取消'],
                icon: 3
            }, function () {
                $.get("/api/manu/" + id + "/del", function (data) {
                    if (data.result) {
                        layer.closeAll();
                        layer.msg("删除完成", {icon: 1});
                        loadData();
                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                });
            }, function () {

            });
        }

        function postManuType() {
            const manuName = $(":text[name=manuName]").val();
            const itemType = $("#itemTypeList").val();
            if (itemType == null) {
                alert("请选择制造的物品类型");
                return false;
            }
            if (manuName.length > 0) {
                $.post("/api/manu/", {
                        name: manuName,
                        itemTypeId: itemType
                    }, function (data) {
                        if (data.result) {
                            loadData();
                            layer.msg("添加成功", {icon: 6});
                            $("#manuForm")[0].reset();
                        } else {
                            layer.msg(data.msg, {icon: 5});
                        }
                    }
                )
            } else {
                alert("请认真填写");
            }
            return false;
        }
    </script>
</head>
<body>
<div th:replace="/nav.html::commonNav('sys','manu_type')"></div>
<div>
    <form th:id="manuForm" method="post" onsubmit="return postManuType()">
        <label>厂商:<input type="text" name="manuName" placeholder="ASUS...技嘉..." required/></label>
        <label>制造:<select id="itemTypeList">
        </select></label>
        <button>添加</button>
    </form>
    <table id="manuTypeList" border="1">
    </table>

    <table id="manuInfo" border="1">
    </table>
</div>
</body>
</html>