<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/head.html::commonHead('入库')"></div>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" media="all"/>
    <script th:inline="javascript" type="text/javascript">
        let itemTypeData;

        $(document).ready(function () {
            $.get("/store_search.html", function (page) {
                $("#searchBlock").append(page);
                pageLoad();
            });
            loadData();

            $(":text[name=itemName]").autocomplete({
                    source: "/api/itemStore.json?action=listName",
                minLength: 2,
                cache: true
                }
            );

            $(":text[name=itemModel]").autocomplete({
                source: "/api/itemStore.json?action=listModel",
                minLength: 2,
                cache: true
            });
        });

        function loadData() {
            document.getElementById("manuList").selectedIndex = -1;
            $("#itemTypeList").empty();
            $("#itemTypeList").append("<option selected='selected' disabled='disabled' value='selected'></option>");

            $.post("/api/itemType.json?action=getAll", function (data) {
                if (data.result) {
                    itemTypeData = data.data;
                    for (let i = 0; i < data.data.length; i++) {
                        const itemType = data.data[i];
                        $("#itemTypeList").append("<option value='" + itemType.id + "'>" + itemType.name + "</option>");
                    }
                } else {
                    alert(data.msg);
                }
            });
        }

        function loadManuList() {
            const itemTypeSel = $("#itemTypeList").val();

            $("#exData").empty();
            const exData = itemTypeData[$("#itemTypeList").get(0).selectedIndex - 1].exData;
            LwebJson.getInputBox(exData, "#exData");

            $("#manuList").empty();
            $("#manuList").append("<option selected='selected' disabled='disabled' value='selected'></option>");
            $.post("/api/manu.json?action=getAllByItemType", {
                    itemType: itemTypeSel
                }, function (data) {
                    if (data.result) {
                        for (let i = 0; i < data.data.length; i++) {
                            const manu = data.data[i];
                            $("#manuList").append("<option value='" + manu.id + "'>" + manu.name + "</option>");
                        }
                    } else {
                        alert(data.msg);
                    }
                }
            );
        }

        /**
         * 添加物品
         */
        function formAddItem() {
            const itemName = $(":text[name=itemName]").val();
            const itemModel = $(":text[name=itemModel]").val();
            const itemType = $("#itemTypeList").val();
            const manu = $("#manuList").val();
            const itemNum = $("[name=itemNum]").val();
            const itemPrice = $("[name=itemPrice]").val();
            const exData = LwebJson.getExData("#exData .exBlock");
            const desc = $("#desc").val();

            if (itemName === "" || itemModel === "" || itemType == null || manu == null || itemNum === "" || itemPrice === "" || exData == null) {
                layer.msg("请将数据填写完整", {icon: 5});
                return false;
            }

            $.post("/api/itemStore.json?action=addItem", {
                name: itemName,
                itemType: itemType,
                manu: manu,
                model: itemModel,
                num: itemNum,
                price: itemPrice,
                exData: JSON.stringify(exData),
                desc: desc
            }, function (data) {
                if (data.result) {
                    alert("添加成功");
                    loadData();
                } else {
                    alert(data.msg);
                }
            });
            return false;
        }
    </script>
    <style>
        #itemList td {
            border: 1px solid #6CF;
        }
    </style>
</head>
<body>
<div th:replace="/nav.html::commonNav('store','store')"></div>
<form method="post" onsubmit="return false">
    <label>型号:<input type="text" name="itemName"/></label>
    <label>名称:<input type="text" name="itemModel"></label>
    <label>类型:<select id="itemTypeList" onchange="loadManuList()">
    </select></label>
    <label>厂商:<select id="manuList">
    </select></label><br/>
    <label>数量:<input type="number" name="itemNum"/></label>
    <label>单价:<input type="number" name="itemPrice"/></label><br/>
    <label>备注:<textarea id="desc" cols="40" rows="5"></textarea></label><br/>
    <div id="exData">

    </div>
    <br>
    <button onclick="formAddItem()">添加</button>
</form>
<br/>
<div id="searchBlock">

</div>
</body>
</html>